<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>users</title>
    <style>
        table {
            width: 70%;
            background: black;
            color: black;
            border-spacing: 1px;
        }td, th {
            background: white;
            padding: 2px;
        }
    </style>
</head>
<body>

<table>
    <caption>USERS</caption>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Login</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user : ${listUsers}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getLogin()}"></td>
        <td><a th:href="@{/update/{id}(id=${user.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>

    </tr>

</table>
<p><a href="/create">Create user</a></p>
</body>
</html>